{% extends 'icecreame/base.html' %} {% block title %}User Profile | Icecreame Shop{% endblock title %} {% block body %}


<style>
    .sign-in-form {
        background-image: url("/static/icecreame/images/bg-02.jpg");
        padding: 15px;
    }
    
    .title {
        margin: 5px;
    }
    
    .title h2 {
        text-transform: uppercase;
    }
    
    .content-img img {
        width: 150px;
    }
    
    .content-form {
        color: black;
        font-weight: 500;
        text-transform: uppercase;
    }
</style>
<br>
<section class="sign-in-form container">
    <div class="title text-center">
        <h1 class="text-center " style="  color: brown;
        font-family: 'Lilita One', sans-serif;"> PROFIlE</h1>
    </div>

    <hr style="width: 20%;;height:3px;border-width:0;color:darkturquoise;background-color:darkturquoise">
    <div class="content text-center">
        <div class="content-form">

            <img src="{{user.profile.image.url}}" alt="" style="width: 200px;height:200px;border:2px solid black;border-radius: 10px;"></div>
        <hr style="width: 20%;">
        <div style="font-family: 'Satisfy', cursive">
            <h4> {{user.first_name}} {{user.last_name}}</h4>
            <h6>{{user.email}}</h6>
            <h6>{{user.profile.location}}</h6>
        </div>



    </div>

    </div>
</section>
<br> {% endblock body %}